.form-control {
  background: rgba(102, 51, 153, 1);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 15px;
}

input {
  text-align: center;
}